{{ define "main" }}

    {{ if .Site.Params.hero }}
    {{ partial "hero.html" . }}
    {{ end }}

    {{ if .Site.Params.stem }}
    {{ partial "stem.html" . }}
    {{ end }}

    {{ if .Site.Params.programs }}
    {{ partial "programs.html" . }}
    {{ end }}

    {{ if .Site.Params.testimonials }}
    {{ partial "testimonials.html" . }}
    {{ end }}

    {{ if .Site.Params.hubspot_contact }}
    {{ partial "hubspot_contact.html" . }}
    {{ end }}

    {{ if .Site.Params.footer }}
    {{ partial "footer.html" . }}
    {{ end }}
    
{{ end }}